<%= if get_flash(@conn, :info) do  %>
  <%= render "_alert.html", color: "blue", message: get_flash(@conn, :info)  %>
<% end %>

<%= if get_flash(@conn, :error) do  %>
  <%= render "_alert.html", color: "red", message: get_flash(@conn, :error)  %>
<% end %>
<%= @inner_content %>
